body {
    font-family: 'Muli';
    font-size: 1.1rem;
}

header {
    max-width: 320px;
    margin: auto;
    text-align: center;
    margin-bottom: 15%;
}

header figure {
    max-width: 300px;
    margin: auto;
    padding-top: 2%;
}

header img {
    max-width: 250px;
    margin: auto;
}

header h2 {
    font-family: 'Walter Turncoat';
    color: #5d091a;
    font-size: 1.5rem;
}

section h2 {
    font-family: 'Walter Turncoat';
    color: #5d091a;
    font-size: 1.3rem;
    text-transform: uppercase;
}

section h3 {
    font-size: 1.1rem;
    margin-bottom: 0;
}

section a {
    text-decoration: none;
    color: #5d091a;
}

section a:hover {
    text-decoration: underline;
}

section p {
    margin-top: 5px;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
